name: Test storage migration

on:
  pull_request:
    types: [labeled, synchronize]
  push:
    branches: '*'

jobs:
  try_runtime:
    if: github.event.label.name == 'migration'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Setup worker
        uses: "./.github/templates/setup-worker"

      - name: Cache Build artefacts
        uses: actions/cache/restore@v3
        id: cargo-cache
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-release-${{ env.POLKA_VERSION }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-release-${{ env.POLKA_VERSION }}

      - run: |
          echo "Found label runtime_migration. Running tests"
          export RUST_LOG=remote-ext=debug,runtime=debug
          echo "---------- Running try-runtime for Trappist ----------"
          cargo run -p trappist --locked --release --no-default-features --features trappist/trappist-runtime,try-runtime try-runtime \
              --runtime ./target/release/wbuild/trappist-runtime/target/wasm32-unknown-unknown/release/trappist_runtime.wasm \
              -lruntime=debug \
              --chain=trappist-dev \
              on-runtime-upgrade live --uri wss://rococo-trappist-try-runtime-node.parity-chains.parity.io:443